/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, h2, h3 {
    color: #333;
}

.f{
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Input fields and buttons */
input[type="text"], input[type="password"], input[type="file"], textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn[type="submit"] {
    background-color: #3b79c9;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
}

.btn[type="submit"]:hover {
    background-color: #1c58a7;
}

/* Error and Success Messages */
.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

/* Login Container */
.login-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Dashboard Container */
.dashboard-container {
    width: 100%;
    max-width: 560px;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.logout-btn:hover {
    background-color: #cc0000;
}


